:root {
    --arrow-transform-duration: 80ms;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
}

html {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    font-size: 100%;
    background: url("pexels-simon-berger-1323550.jpg") no-repeat fixed bottom right;
    background-size: cover;
}

body, button {
    color: black;
    font-family: "Roboto", sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 1.5vh;
    padding: 5px;
    color: white;
}

h1 {
    padding: 1.5%;
    font-size: 4vh;
    text-align: center;
}

p {
    padding: 0;
    font-size: 2vh;
}

/*table, td, th {
    border: 1px solid;
}*/

button span {
    /* Selects spans inside buttons, makes span unclickable so it clicks the button behind it instead.
    Resolves issue of clicking on span doesn't click the button */
    pointer-events: none;
}

table {
    table-layout: fixed;
    width: 90%;
}

td {
    text-align: center;
}

header {
    /*background-color: #375a7f;*/
    margin: -10px 20px;
    border-radius: 10px;
}

hr {
    margin: 0 20px 10px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropbtn {
    background: none;
    border: none;
    max-font-size: 20%;
    font-size: 2.2vh;
    padding: 0.6%;
    width: 100%;
    height: 6vh;
    min-height: 60px;
}

.dropdown:hover {
    /*background-color: #E3886D95;*/
    background: radial-gradient(ellipse 35% 50%, #E3886DCC, #E3886D00);
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: relative;
    padding: 1%;
    max-font-size: 20%;
    font-size: 2.2vh;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em; /* Only here for footer */
    line-height: 4vh;

    backdrop-filter: blur(10px) sepia(0.17);

}

.show {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#contact-links {
    width: 100%;
    right: 5px;
    text-align: right;
    color: white;
}

.contact-links_button {
    padding: 4px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    height: 3vh;
    width: 3vh;
}

.dropdownArrow {
    display: inline-block;
    transition-duration: var(--arrow-transform-duration);
}

.rotateArrow {
    transform: rotate(90deg);
    transition-duration: var(--arrow-transform-duration);
    transition-timing-function: linear;
}